.root {
    -fx-background-color: grey;
}
.anchorpane {
    -fx-background-color: grey;
}
.Anchorpane {
    -fx-background-color: grey;  


    
}
.button {
    -fx-font-family: "Droid Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    -fx-font-size:16px;
    -fx-text-fill: whitesmoke;
    -fx-background-color: darkgrey;

}

.button:hover {
    -fx-background-color: darkslategray;
}
.button:active {
    -fx-background-color: #333333;
    -fx-border-color: #333333;
    -fx-color:#eeeeee;
}
.questionbutton {
    -fx-font-family: "Droid Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    -fx-font-size:16px;
    -fx-text-fill: whitesmoke;
    -fx-background-color: darkgrey;
}
.questionbutton:hover {
    -fx-background-color: darkslategray;

}
.questionbutton:active {
    -fx-background-color: #333333;
    -fx-border-color: #333333;
    -fx-color:#eeeeee;
}
.label {
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-family:"Droid Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}
#header {
    -fx-text-fill: whitesmoke;
    -fx-text-shadow: 0px 1px 0px rgba(255,255,255,.5); /* 50% white from bottom */
    -fx-font-size: 54;
    -fx-font-weigth: bold;
    -fx-font-family: "Impact";
}
#info {
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-font-family:"Droid Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}
#questionLabel {
    -fx-text-fill: #333;
    -fx-font-size: 20;
    -fx-font-family:"Droid Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}
.currentPlayer {
    -fx-text-fill: #333;
    -fx-font-size: 18;
    -fx-font-family:"Droid Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}
.correctLabel {
    -fx-text-fill: green;
    -fx-font-size: 18;
    -fx-font-family:"Droid Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}
//"-fx-background-color: linear-gradient(#999999 0%, #000000 50%, #999999 100%);

